# PostgreSQL Configuration
DB_NAME=hr_stream
DB_USER=postgres
DB_PASSWORD=123654

# MinIO Configuration
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_admin_password_123
MINIO_BUCKET_NAME=ats-resumes

# Redis Configuration
REDIS_PASSWORD=redis_password_123

# Application Configuration
JWT_SECRET=6504789973bec46cbc0d38bd4c1bdf4e724638be4c674460320a21bacb027c43

# gemini Configuration
GEMINI_API_KEY=AIzaSyAw-YeewdPcscM8SE3nro4Q6m9wamd6e_E

